# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# Swift package manager
/.build/
/Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Ignore any personal keys, secrets, etc
*.key

GoogleService-Info.plist
LocalFixes.swift

NeiroCS371L/GoogleService-Info.plist

Secrets.xcconfig
